<%- include('partials/header') %>
<link rel="stylesheet" href="css/styles.css">
 <div class="container">
        <header>
            <h1>Todo</h1>
            <input type="text" id="inputText" placeholder="Type In and Press Enter to Add">
        </header>
        <section>
            <ul id="todoList" class="list">
                 <% try{ for(let i=0;i<TodoListItems.length;++i){ %>
                <li class="item">
                    <p> <%=TodoListItems[i] %></p>
                    <div class="icons">
                        <i class="far fa-check-square"></i><i class="far fa-trash-alt"></i>
                    </div>
                </li>
                <% }}catch(err){console.log("err");} %>
            </ul>
            <ul id="doneList" class="list">
            </ul>
        </section>
    </div>
<script src="scripts/script.js"></script>
<%- include('partials/footer') %>