<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>PersonalPlanner</title>
</head>
<body>
  <header>
     <h1> Welcome to the Personal Planner Signup Page</h1>
    <h2></h2>
  </header>
  <article>
  <form action="/signup" method='POST'>
  <label for="fname">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="lname">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Login">
</form>
  </article>
    <script src="/index.js"></script>
</body>
</html>
